div#module_bookmarks {}

div#module_bookmarks h5 {
    font-weigh: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

div#module_bookmarks a.module_bookmarks_link {
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    transition: .2s ease;
}
div#module_bookmarks a.module_bookmarks_link:hover {
    background: #EEE;
    font-weight: bold;
}
div#module_bookmarks a.module_bookmarks_link img {
    margin: 0 7px 0 0;
}
div#module_bookmarks a.module_bookmarks_link span {
    vertical-align: middle;
}