/* ------------------------------------------------------------------------------------------------------------------ */
/* Drawer - Navigation */
nav.mdl-navigation {}
nav.mdl-navigation a.mdl-navigation__link {
    vertical-align: middle;
}
nav.mdl-navigation a.mdl-navigation__link i {
    vertical-align: middle;
    margin: 0 10px 0 0;
}
nav.mdl-navigation a.mdl-navigation__link span {
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Drawer - Footer */
div.mdl-layout__drawer {}
div.mdl-layout__drawer div.mdl-layout__drawer-footer {
    color: #999;
    font-size: .7em;
    padding: 10px 10px 10px 42px;
}
div.mdl-layout__drawer div.mdl-layout__drawer-footer strong {
    font-size: 1.2em;
}
