div#module_news {}
div#module_news div.news {
    border-bottom: 1px solid #E5E5E5;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
}
div#module_news div.news:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
}
div#module_news div.news div.newsTitle {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.4em;
}
div#module_news div.news div.newsSnippet {
    line-height: 1.6em;
    margin: 5px 0;
}
div#module_news div.news a.newsLink {
    color: #00BCD4;
}