/* ------------------------------------------------------------------------------------------------------------------ */
/* Body */
body {
    background: #F2F2F2;
    font-family: Ubuntu;
    height: 100%;
}

header#header {
    color: white;
}
header#header a {
    color: white;
}
header#header div.mdl-layout__drawer-button i {
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Loading overlay */
div#loadingOverlay {
    background: #EEE;
    color: #666;
    height: 100%;
    width: 100%;
    padding: 15% 0 0 0;
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    transition: .2s ease;
    z-index: 9999999999999999999999999999999999999999999999;
}
div#loadingOverlay div strong {
    display: block;
    font-size: 1.8em;
    padding: 0 0 10px 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* MDL Card */
div.homeCard {
    margin: 0 0 20px 0;
    width: 100%;
}
div.homeCard div.homeCardTitle {
    background: #00BCD4;
    box-shadow: 0px 0px 4px 1px #999;
    color: white;
    /*border-bottom: 1px solid #DDD;
    color: #666;*/
    vertical-align: middle;
}
div.homeCard div.homeCardTitle i {
    padding-right: 10px;
    padding-top: 1px;
    vertical-align: middle;
}
div.homeCard div.homeCardTitle span {
    vertical-align: middle;
}
div.homeCard div.homeCardContent {
    overflow: auto;
}
div.homeCard div.homeCardActions {
    text-align: right;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* iFrame */
iframe {
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Webkit Scrollbar */
::-webkit-scrollbar {
    background: transparent !important;
    width: 3px;
}
::-webkit-scrollbar-button {
    background: transparent;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #DDD;
}

