/* ------------------------------------------------------------------------------------------------------------------ */
/* Body */
body {
    background: #F2F2F2;
    font-family: Ubuntu;
    height: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Header */
header#header {
    color: white;
}
header#header a {
    color: white;
}
header#header div.mdl-layout__drawer-button i {
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Drawer */
nav.mdl-navigation {}
nav.mdl-navigation a.mdl-navigation__link {
    vertical-align: middle;
}
nav.mdl-navigation a.mdl-navigation__link i {
    vertical-align: middle;
    margin: 0 10px 0 0;
}
nav.mdl-navigation a.mdl-navigation__link span {
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Loading overlay */
div#loadingOverlay {
    background: #EEE;
    color: #666;
    height: 100%;
    width: 100%;
    padding: 15% 0 0 0;
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    transition: .2s ease;
    z-index: 9999999999999999999999999999999999999999999999;
}
div#loadingOverlay div strong {
    display: block;
    font-size: 1.8em;
    padding: 0 0 10px 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* MDL Card */
div.homeCard {
    margin: 0 0 20px 0;
    width: 100%;
}
div.homeCard div.homeCardTitle {
    background: #00BCD4;
    box-shadow: 0px 0px 4px 1px #999;
    color: white;
    /*border-bottom: 1px solid #DDD;
    color: #666;*/
    vertical-align: middle;
}
div.homeCard div.homeCardTitle i {
    padding-right: 10px;
    padding-top: 1px;
    vertical-align: middle;
}
div.homeCard div.homeCardTitle span {
    vertical-align: middle;
}
div.homeCard div.homeCardContent {
    overflow: auto;
}
div.homeCard div.homeCardActions {
    text-align: right;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* About & Settings page */
div.pageOverlay {
    background: rgba(0, 0, 0, .5);
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .2s ease;
    width: 100%;
    z-index: 99999999999;
}
div.pageOverlay div.mdl-card {
    margin: 50px auto;
    width: 480px;
}
div.pageOverlay div.mdl-card div.mdl-card__title {
    background: #00BCD4;
    color: white;
}
div.pageOverlay#aboutPage div.mdl-card div.mdl-card__title {
    background-image: url("./../images/material-background.jpg");
    height: 200px;
}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text {}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text p {
    text-align: justify;
}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text table {}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text table tr {}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text table tr th {
    text-align: left;
}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text table tr td {}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text table tr td a {
    color: #666;
}
div.pageOverlay div.mdl-card div.mdl-card__supporting-text table tr td a:hover {
    text-decoration: none;
}
div.pageOverlay div.mdl-card div.mdl-card__actions {
    text-align: right;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* iFrame */
iframe {
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Webkit Scrollbar */
::-webkit-scrollbar {
    background: transparent !important;
    width: 3px;
}
::-webkit-scrollbar-button {
    background: transparent;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #DDD;
}

