/* ------------------------------------------------------------------------------------------------------------------ */
/* HTML tags */

/* Body */
body { background: #555; color: #555; font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em; }

/* Horizontal line */
h1 { margin-top: 15px; text-align: center; }

/* Horizontal line */
hr { border: none; border-top: 1px solid #DDD; margin: 30px auto; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Polymer elements */

/* paper-button */
paper-button.primary { color: #1E86BD; }
paper-button[raised].primary { background: #1E86BD; color: white; }
paper-button[dialog-dismiss] { color: #333; }
paper-button[dialog-confirm].delete { color: red; }

/* paper-dialog */
paper-dialog { background: white !important; max-width: 480px; min-height: 200px; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Index */
x-login {}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Scrollbar */

::-webkit-scrollbar { background: transparent; width: 3px; }
::-webkit-scrollbar-button { background: transparent; height: 0px; }
::-webkit-scrollbar-thumb { background: #727272; cursor: pointer; }
